name: Style

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install cmake_format
      run: pip install cmake_format

    - name: Check source style
      run: cmake-format --check ./CMakeLists.txt ./cmake-format.cmake
